# Scripts
aclocal.m4
configure
libtool

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Logs etc
config.h
config.h.in
config.h.in~
config.status
Makefile.in
Makefile
stamp-h1
*.Po
*.Plo
*.swp
*.log
*.trs
*.dat
*.gp
*.eps
*.Tpo
*.root
*.LHE

# Folders
autom4te.cache/*
build-aux/*
test/.libs/*
test/plots/*
test/test_output/*
lib/.libs/*

# Executables
test/bitstring_test
test/cont_cols_test
test/discr_cols_test
test/m_spinor_test
test/Parke_Taylor_cc_test
test/Parke_Taylor_dc_test
test/Pauli_basis_test
test/Pauli_spinor_test
test/phi3_graphs_test
test/phi34_graphs_test
test/QCD_procs_test
test/QCDcc_test
test/QCDdc_test
test/QEDch_test
test/QEDdh_test
test/SM_params_test
test/SM_test
test/Weyl_basis_test
test/Weyl_spinor_test
test/LHAPDF_test
test/MC_col_test
test/MC_gen_test
test/MC_hel_test
test/parni_test
test/ps_tree_test
test/ps_reverse_test
test/event_test
test/s_int_test
test/save_load_test
test/speed_test
test/susy_Kunszt_test
test/susy_QCDcc_test
test/susy_QCDdc_test
test/susy_QED_test
test/Lorentz_test
test/ps_tree_adapt_test
test/ps_tree_grid_test
test/ps_tree_shat_test
test/ps_tree_reverse_test
test/ps_tree_reverse_shat_test
test/proc_gen_test
test/evt_gen_test
test/root_test
test/ascii_output_test
test/LHE_if_test
test/rambo_test

# Editor utilities
/.syntastic_config
/tags
